{{#unless model.isAvailable}}
	<div>
		SpeechRecognition is not available in your browser.
	</div>
{{/unless}}
<button {{action "record"}}>
	{{if model.recorder.isRecording "Recording..." "Record"}}
</button>
{{#if model.recorder.isRecording}}
	<button {{action 'stop'}}>
		Stop
	</button>
{{/if}}
<div>
	Transcript: {{model.transcript}}
</div>
<div>
	Error: {{model.error}}
</div>


{{#unless model.readerAvailable}}
	<div>
		SpeechUtterance is not available in your browser.
	</div>
{{/unless}}
<div>
	{{input value=(mut model.textToRead)}}
	<button {{action "read"}}>
		{{if model.reader.isPlaying "Reading..." "Read"}}
	</button>
	{{#if model.reader.isPlaying}}
		<button {{action 'pause'}}>
			Pause
		</button>
		<button {{action 'resume'}}>
			Resume
		</button>
		{{#if model.reader.isPlaying}}
			Playing...
		{{else if model.read.isPaused}}
			Paused...
		{{/if}}
	{{/if}}
</div>
